/* * {
  color: black;
}

.dsg-container {
  display: flex !important;
  width: auto !important;
  position: relative !important;
  overflow-x: auto !important;
  height: 100vh !important;
  display: flex;
}

table.datagrid {
  width: 100%;
}

.dsg-cell,
.dsg-cell-gutter,
.dsg-row {
  height: auto !important;
} */

.rdg-cell {
}
