.top_RIA_logo {
  background: linear-gradient(90deg, #0066ff3d, #9900ff25);
  /* background-color: #e4e4e4; */
  width: 60px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

  /* background-color: red; */
}

.top_RIA_logo2 {
  color: #555555;
  font-weight: 650;
  font-size: 20px;
  margin-top: 2.7px;
  /* background-color: red; */
}
